.modal
  .modal-dialog
    .modal-head
      h3.modal-title Корзина
      button.close &times;
    .modal-body
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 р
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 р
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 р
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 р
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 р
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
    .modal-footer
      span.price-tag 1250 P
      .footer-buttons
        button.button.button-signin Оформить заказ
        button.button Отмена
