.modal-cart
  .modal-dialog
    .modal-head
      h3.modal-title Корзина
      button.close &times;
    .modal-body
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 ₽
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 ₽
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 ₽
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 ₽
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
      .food-row
        span.food-name Ролл угорь стандарт
        strong.food-price 250 ₽
        .food-counter
          button.counter-button -
          span.counter 1
          button.counter-button +
    .modal-footer
      span.price-tag 1250 ₽
      .footer-buttons
        button.button.button-confirm Оформить заказ
        button.button.button-cancel Отмена

.modal-auth
  .modal-dialog.modal-dialog-auth
    button.close-auth &times;
    form#logInForm
      fieldset.modal-body.modal-body--auth
        legend.modal-title &Acy;&vcy;&tcy;&ocy;&rcy;&icy;&zcy;&acy;&tscy;&icy;&yacy;
        label.label-auth
          span &Lcy;&ocy;&gcy;&icy;&ncy;
          input#login(type='text')
        label.label-auth
          span &Pcy;&acy;&rcy;&ocy;&lcy;&softcy;
          input#password(type='password')
      // /.modal-body
      .modal-footer
        .footer-buttons
          button.button.button-primary.button-login(type='submit')
            | &Vcy;&ocy;&jcy;&tcy;&icy;
    // /.modal-footer
  // /.modal-dialog

