* {
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	
}

header,footer {
	width:100%;
	padding: 15px 0;
	display: inline-flex;
}



input::placeholder {
	font-size: 1.2em;
	font-style: italic;
	padding-left: 5%;
}

body {
	font-family: "PT Sans", sans-serif;
	overflow-x:hidden ;
}

html {
	overflow-x:hidden ;
}

h1,h2 {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 2.5rem;
		margin: 5% 0;
	
}

.color-white {
	color: #fff;
}

ul,li,a {
	list-style-type: none;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 940px;
	
	} 

.logo {
	display: block;
    float: left;
}

.phone{
	float: right;
}

.phone__p {
	font-weight: 700;
    font-size: 12px;
    padding-bottom: 10px;
}

.phone a {
	color: #000;
	font-weight:700;
	font-size: 18px;
	text-decoration: none;

}

.phone__phone1 {
	padding-left: 10px;
}
.callback{
	float: right;
    margin-left: 46px;
    position: relative;
}

.callback p {
	padding-bottom: 10px;
	text-align: right;
}

.callback a {
	color:#368c02;
	font-size: 12px;
}

.callback-button {
    background-image: linear-gradient(to top, #640000 0%, #640000 3%, #8c0202 5%, #e30000 100%);
    border-radius: 5px;
    padding: 15px 30px;
}

.callback-button a {
	color: #fff;
    font-size: 12px;
    font-weight: 700;
}

nav {
	background-color: #368c02;
}

nav ul {
	display: flex;
    justify-content: center;
}

nav li {
	line-height: 2.5rem;
	display: inline-block;
    margin-left: 5%;
}

.container__nav_menu a {
	color: #fff;
	font-size: 18px;

}


.top {
	background-image: url(images/bg-1.webp);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	min-height: 820px;
	display: block;

}

@media (max-width: 600px) {
  .top{
    background-image:none;
  }
}

.top__inner {
	display: flex;
    justify-content: center;
	margin-top: 5%;
	margin-bottom: 1%;
    font-size: 2.7em;
    font-weight: 700;
	background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
	
}

.top__inner_2 {
	display: flex;
    justify-content: center;
	margin:0 5%;
    font-size: 2.5em;
    font-weight: 700;
	background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
	
}

.top__inner_3 {
	color: #000000;
    margin:5%;
	font-size: 30px;
	text-align: center;
}

.top__first_form {
	max-width: 720px;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 2px 2px 40px rgba(0,1,2,0.3)
}

.top__first_form p {
	padding: 2% 0;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 2.5rem;
	margin: 5% 0;
}


.top__first_form_input {
	display: flex;
    justify-content: space-around;
    margin: 5% 10%;
}

.top__first_form_input_2 {
	border-radius: 5px;
    height: 50px;
    width: 45%;
    border: 1px solid #f1f1f1;
}

.top__first_form_button {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	align-items: center;
}

.top__first_form_button_2 {
	background-image: linear-gradient(to top, #640000 0%, #640000 3%, #8c0202 5%, #e30000 100%);
    border-radius: 5px;
	padding: 15px 30px;
	font-size: 24px;
	cursor: pointer;
	margin-bottom: 5%;
	border: 0;
}

.about {
	width: 100%;
}

.about__4_circles ul {
	display: flex;
	flex-flow: row wrap;
}

.about__4_circles li {
	text-align: center;
	flex: 1;
	margin-bottom: 5%;
}

.about__4_circles img {
	padding-bottom: 20px;
}

.about__4_circles p {
	width: 155px;
	margin: auto;
	font-size: 18px;
}

.middle {
	background-image: url(images/bg-2.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	min-height: 590px;
	
}

.middle-wrapper {
	max-width: 600px;
    text-align: center;
	display: flex;
    flex-flow: column;
    justify-content: flex-end;
    margin-left: auto;
}

.middle_container p {
	
	font-size: 2rem;
	color: #fff;
	margin: 2% auto;
    
}

.middle-form__input {

	border-radius: 5px;
    height: 50px;
    width: 90%;
    border: 0;
    margin: 1% auto;
}

.middle-form__button {
	background-image: linear-gradient(to top, #0b6400 0%, #00640c 3%, #028c06 5%, #00e301 100%);
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    margin: 2% auto;
    border: 0;
    width: 90%;
}

.count {
	background-image: url(images/bg-3.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	min-height: 120px;
	display: flex;
	    
}

.count_inner{
	max-width: 940px;
	font-size: 5vh;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: auto;
	justify-content: center;
}

.count p {
	color: #fff;
	text-transform: uppercase;
    font-weight: 700;
}

.count_inner span {
	border-radius: 10px;
    background-color: #fff;
    margin-right: 5px;
    padding: 7px 12px;
    text-align: center;
    }

.count_inner span:nth-child(2){
	margin-left: 40px;
} 

.count_inner span:nth-child(3){
	margin-right:40px;
}

.effect {
	background-image: url(images/bg-4.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	min-height: 660px;
	padding: 0 0 50px 0;
	
}

.effect h2 {
	padding-top: 5%;
	color: #fff;
	margin: 0;
}

.effect__inner-top p {
	color: #fff;
	text-align: center;
	margin: 1% 0 3% 0;
}

.effect__inner-bot{
	display: flex;
	justify-content: space-around;
}

.effect__inner-bot p {
	
	margin-top:10%;
	text-align: center;
	font-size: 1.5em;
}

.effect__box {
	width: calc(50% - 20px);
	height: 400px;
	background-color: #fff;
	display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.effect__box img {
	margin: 5% 5% 0 0;
}

.effect__box ul {
	float: right;
	width: 40%;
	margin-top: 3%;
}

.effect__button {
	background-image: linear-gradient(to top, #640000 0%, #640000 3%, #8c0202 5%, #e30000 100%);
    border-radius: 5px;
	padding: 10px 30px;
	font-size: 24px;
	cursor: pointer;
	margin: 5%;
	border: 0;
}

.review {
	background-image: url(images/bg-5.jpg);
	min-height: 1000px;
	background-repeat: no-repeat;
	background-position: bottom;
}

.review__4box {
	display: flex;
	flex-flow: row wrap;
}

.review__4box-box {
	width: calc(50% - 20px);
	height: 300px;
	margin: 0 2% 2% 0;	
}


.review__4box-box p {
	margin-left: 36%;
}

.review__4box-box img {
	float: left;
	margin: 1% 3% 0 0;
}

.review__p-top {
	font-size: 1em;
	font-weight: 700;
	margin-bottom: 2%;
}

.review__p-top {
	font-size: 0.9em;
}

.review-3inrow{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.review__button {
	background-image: linear-gradient(to top, #0b6400 0%, #00640c 3%, #028c06 5%, #00e301 100%);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 2% 0 2% 36%;
    border: 0;
	width: 60%;
	height: 15%;
}


.review-3inrow img {
	max-width: 95%;
	max-height: 95%;
}

.review-3inrow figcaption {
	font-weight: 700;
    padding: 3px;
    text-align: center;
}

.item-card-box {
	height: 400px;
	margin: 0 2% 2% 0;
	display: flex;
    flex-flow: column;
    justify-content: space-around;
	text-align: center;
	font-size: 0.8em;
}

.item-card-detail {
	background-color: #fff;
	min-height: 85%;
	display: flex;
	flex-flow: column;
    justify-content: space-around;
	align-items: center;
}


.item-card-button__button {
	background-image: linear-gradient(to top, #640000 0%, #640000 3%, #8c0202 5%, #e30000 100%);
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 5% 0 0;
	border: 0;
	width: 100%;
    height: 50px;
}

.catalog-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.catalog-1 {
	background-image: url(images/bg-6.jpg);
	min-height: 1155px;
	background-repeat: no-repeat;
}

.catalog-1 h2 {
	color: #fff;
    padding-top: 5%;
}

.catalog-1 img {
	max-height: 95%;
	max-width: 95%;
}

.catalog-2 {
	background-image: url(images/bg-8.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
}

.catalog-2 img {
	max-height: 95%;
	max-width: 95%;
}

.catalog-2 h2 {
	padding-top: 5%;
	margin: 0 0 5%;
}

.catalog-3 {
	background-image: url(images/bg-7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
}

.catalog-3 h2 {
	padding-top: 5%;
	margin: 0 0 5%;
	color: #fff;
}

.catalog-3 img {
	max-height: 95%;
	max-width: 95%;
}

.catalog-3__wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.catalog-3__box {
	height: 400px;
	margin: 5%;
	display: flex;
    flex-flow: column;
    justify-content: space-around;
	text-align: center;
	font-size: 0.8em;
}

.catalog-4 {
	background-image: url(images/bg-8.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
}

.catalog-4 img {
	max-height: 95%;
	max-width: 95%;
}

.catalog-4 h2 {
	padding-top: 5%;
	margin: 0 0 5%;
}

.contacts {
	background-image: url(images/cont.jpg);
	min-height: 430px;
	background-repeat: no-repeat;
}

.contacts img {
	margin-right:10%;
	float: left;
}

.contacts h3 {
	font-size: 3em;
	margin-bottom: 5%;
}

.contacts p {
	margin-bottom: 5%;
	font-size: 1.1em;
}

.map-phone {
	font-weight: 700;
	
	
}

.contacts-phone {
	position: relative;
    display: inline-block;
}

.contacts-phone__wrapper {
	position: absolute;
    z-index: 5;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15%;
    width: 60%;
}

