* {
	margin: 0 ;
	padding: 0;
	/* transition: .5s ease-in-out; */
	box-sizing: border-box;
	/* color: #fff; */
}

/*header {
	display: flex;
	flex-flow: row wrap;
}*/

input::placeholder {
	font-size: 1.2em;
	font-style: italic;
	padding-left: 5%;
}

body {
	font-family: "PT Sans", sans-serif;
}

h2 {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 1.8em;
		margin: 5% 0;
	
}

ul {
	list-style-type: none;
}
.head {
	max-width: 900px;
	margin: auto;
	display: flex;
	padding: 10px 0;
}

.head_logo {
	flex: 3;
}

.head_contact{
	flex: 1;
}

.head_contact_p {
	font-weight: 700;
    font-size: 12px;
    padding-bottom: 10px;
}

.head_contact a {
	color: #000;
	font-weight:700;
	font-size: 18px;
	text-decoration: none;

}

.head_phone1 {
	padding-left: 10px;
}
.head_callback{
	flex: 1;
}

.head_callback p {
	padding-bottom: 10px;
	text-align: right;
}

.head_callback a {
	color:#368c02;
	font-size: 12px;
}

.callback {
    background-image: linear-gradient(to top, #640000 0%, #640000 3%, #8c0202 5%, #e30000 100%);
    border-radius: 5px;
    padding: 15px 30px;
}

.callback a {
	color: #fff;
    font-size: 12px;
    font-weight: 700;
}
/*.head_inner {
	 display: flex;
    flex: 3;
}*/



nav {
	display: flex;
	height: 50px;
	background-color: #368c02;
}

.nav_container {
	width: 750px;
	margin: auto;
	
}

nav ul {
	display: flex;
	
}

nav li {
	display: inline;
  	text-align: center;
  	flex: 1;
}

.nav_menu a {
	color: #fff;
	font-size: 18px;

}


.top {
	background-image: url(bg-1.png);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	min-height: 820px;
	display: block;

}

/*@media (max-width: 600px) {
  .top{
    display:none;
  }
}*/

.top_top {
	max-width: 820px;
	display: flex;
	flex-flow: column wrap;
	margin: auto;
}

.top_inner {
	display: flex;
    justify-content: center;
	margin-top: 5%;
	margin-bottom: 1%;
    font-size: 2.7em;
    font-weight: 700;
	background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
	color: #fff;
}

.top_inner_2 {
	display: flex;
    justify-content: center;
	margin:0 5%;
    font-size: 2.5em;
    font-weight: 700;
	background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
	color: #fff;
}

.top_inner_3 {
	color: #000000;
    /* display: flex; */
    /* justify-content: center;
    flex-flow: row wrap; */
	margin:5%;
	font-size: 30px;
	text-align: center;
}

.first_form {
	min-width: 720px;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 2px 2px 40px rgba(0,1,2,0.3)
}


/* .first_form_label {
	text-transform: uppercase;
    text-align: center;
    font-weight: 700;
	font-size: 1.8em;
	margin: 5% 0;
} */

.first_form_input {
	display: flex;
    justify-content: space-between;
    margin: 5% 10%;
}

.first_form_input_2 {
	border-radius: 5px;
    height: 50px;
    width: 250px;
    /* font-family: inherit; */
    border: 1px solid #f1f1f1;
}

.first_form_button {
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	align-items: center;
}

.first_form_button_2 {
	background-image: linear-gradient(to top, #640000 0%, #640000 3%, #8c0202 5%, #e30000 100%);
    border-radius: 5px;
	padding: 15px 30px;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
	margin-bottom: 5%;
	border: 0;
}

.about {
	width: 820px;
    margin: auto;
}

.about_4_circles ul {
	display: flex;
}

.about_4_circles li {
	display: inline;
    text-align: center;
	flex: 1;
	margin-bottom: 5%;
}

.about_4_circles img {
	padding-bottom: 20px;
}

.about_4_circles p {
	width: 155px;
	margin: auto;
	font-size: 18px;
}

.middle {
	background-image: url(bg-2.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	min-height: 590px;
	/* display: block; */
}

.middle_form {
	display: flex;
	/* flex-flow: column wrap; */
	justify-content: flex-end;
	max-width: 900px;
	margin: 0 auto;

}

.middle_container {
	max-width: 600px;
    text-align: center;
    color: #fff;
    /* padding-top: 80px; */
}

.middle_form h2 {
	color: #fff;
	margin: 5% 0 3% 0;
	font-size: 45px;
}

.middle_form p {
	
	font-size: 1.5em;
	color: #fff;
	margin: 2% auto;
    
}

.middle_form_2 {
	display: flex;
    justify-content: center;
    flex-flow: column wrap
}

.middle_form_input_2 {

	border-radius: 5px;
    height: 50px;
    width: 550px;
    /* font-family: inherit; */
    border: 0;
    margin: 1% auto;
}

.middle_form_button{
	display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}

.middle_form_button_2 {
	background-image: linear-gradient(to top, #0b6400 0%, #00640c 3%, #028c06 5%, #00e301 100%);
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin: 2% auto;
    border: 0;
    width: 550px;
}

.count {
	background-image: url(bg-3.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	min-height: 120px;
	margin: auto;
	display: flex;
	align-items: center;
    justify-content: center;
    
}

.count_inner{
	max-width: 900px;
	font-size: 2.5em;
	display: flex;
    flex-flow: row nowrap;
}

.count p {
	color: #fff;
	text-transform: uppercase;
    font-weight: 700;
}

.count_inner span {
	padding: 0 10px 5px 10px;
	border-radius: 10px;    
	background-color: #fff;
	margin-right: 5px;
    }

.count_inner span:nth-child(2){
	margin-left: 40px;
} 

.count_inner span:nth-child(3){
	margin-right:40px;
}

.effect {
	background-image: url(bg-4.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	min-height: 660px;
	
}

.effect_inner {
	max-width: 900px;
	margin: auto;
}

.effect h2 {
	padding-top: 5%;
	color: #fff;
	margin: 0;
}

.effect_inner_top p {
	color: #fff;
	text-align: center;
	margin: 1% 0 3% 0;
}

.effect_inner_bot{
	display: flex;
	/* flex-flow: row wrap; */
	justify-content: space-around;
}
.effect_inner_box {
	width: calc(50% - 20px);
	height: 400px;
	/* margin: auto; */
	background-color: #fff;
	display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.effect_inner_box img {
	margin: 5% 5% 0 0;
}

.effect_inner_box ul {
	float: right;
	width: 40%;
	margin-top: 3%;
}

.effect_inner_box li {
	list-style-type: none;
}

.effect_inner_bot p {
	
	margin-top:10%;
	text-align: center;
	font-size: 1.5em;
}

.effect_button {
	background-image: linear-gradient(to top, #640000 0%, #640000 3%, #8c0202 5%, #e30000 100%);
    border-radius: 5px;
	padding: 10px 30px;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
	margin: 5%;
	border: 0;
}

.review {
	background-image: url(bg-5.png);
	min-height: 1000px;
	background-repeat: no-repeat;
	background-position: bottom;
}

.review_inner {
	max-width: 900px;
	margin: auto;
}

.review_4box {
	display: flex;
	flex-flow: row wrap;
}

.review_box {
	width: calc(50% - 20px);
	height: 300px;
	margin: 0 2% 0 0;
	/* margin: auto; */
	/* background-color: #fff;
	display: flex;
    justify-content: center;
    flex-flow: row wrap; */
}


.review_box p {
	margin-left: 36%;
}

.review_box img {
	float: left;
	margin: 1% 3% 0 0;
}

.review_p_top {
	/* margin: auto;
	width: 60%; */
	font-size: 1em;
	font-weight: 700;
	margin-bottom: 2%;
}

.review_p_bot {
	font-size: 0.9em;
}

.review_3inrow{
	display: flex;
	flex-flow: row wrap;
}



.review_button {
	background-image: linear-gradient(to top, #0b6400 0%, #00640c 3%, #028c06 5%, #00e301 100%);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 2% 0 2% 36%;
    border: 0;
    width: 284px;
}

.review_3inrow {
	display: flex;
    justify-content: space-between;
}

.review_3inrow img {
	max-width: 95%;
	max-height: 95%;
}

.review_3inrow figcaption {
	font-weight: 700;
    padding: 3px;
    text-align: center;
}

.catalog_1 {
	background-image: url(bg-6.png);
	min-height: 1155px;
	background-repeat: no-repeat;
}

.catalog_1 h2 {
	color: #fff;
    padding-top: 5%;
}

.catalog_1 img {
	max-height: 95%;
	max-width: 95%;
}
.catalog_1_inner {
	width: 100%;
	max-width: 900px;
	margin: auto;
}

.catalog_1_more_inner {
	display: flex;
	flex-flow: row wrap;
}

.catalog_1_box {
	width: calc(25% - 20px);
	height: 400px;
	margin: 0 2% 2% 0;
	display: flex;
    flex-flow: column;
    justify-content: space-around;
	/* align-items: center; */
	text-align: center;
	font-size: 0.8em;
}

.catalog-1-box-top {
	background-color: #fff;
	min-height: 85%;
	display: flex;
	flex-flow: column;
    justify-content: space-around;
	align-items: center;
}

.catalog-1-box-bot {

}

.catalog-1-box-bot button {
	background-image: linear-gradient(to top, #640000 0%, #640000 3%, #8c0202 5%, #e30000 100%);
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 5% 0 0;
    border: 0;
}

.catalog_2 {
	background-image: url(bg-8.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
}

.catalog_2 img {
	max-height: 95%;
	max-width: 95%;
}

.catalog_2 h2 {
	padding-top: 5%;
	margin: 0 0 5%;
}
.catalog-2-container {
	max-width: 900px;
	width: auto;
	margin: auto;
}

.catalog-2-inner-container {
	display: flex;
	flex-flow: row;
}

.catalog-2-box {
	width: calc(25% - 20px);
	height: 400px;
	margin: 0 2% 2% 0;
	display: flex;
    flex-flow: column;
    justify-content: space-around;
	/* align-items: center; */
	text-align: center;
	font-size: 0.8em;
}

.catalog_3 {
	background-image: url(bg-7.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
}

.catalog_3 h2 {
	padding-top: 5%;
	margin: 0 0 5%;
	color: #fff;
}

.catalog_3 img {
	max-height: 95%;
	max-width: 95%;
}

.catalog-3-container {
	max-width: 900px;
	width: auto;
	margin: auto;
}

.catalog-3-inner-container {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

.catalog-3-box {
	width: 300px;
	height: 400px;
	margin: 5%;
	display: flex;
    flex-flow: column;
    justify-content: space-around;
	/* align-items: center; */
	text-align: center;
	font-size: 0.8em;
}

.catalog_4 {
	background-image: url(bg-8.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
}

.catalog_4 img {
	max-height: 95%;
	max-width: 95%;
}

.catalog_4 h2 {
	padding-top: 5%;
	margin: 0 0 5%;
}

.contacts {
	background-image: url(cont.png);
	min-height: 430px;
	background-repeat: no-repeat;
}

.contacts img {
	margin-right:10%;
	float: left;
}

/* .margin {
	margin-right: 6%;
} */

.contacts h3 {
	font-size: 3em;
	margin-bottom: 5%;
}

.contacts p {
	margin-bottom: 5%;
	font-size: 1.1em;
}

.map-phone {
	font-weight: 700;
	
	
}
.contacts-container {
	max-width: 900px;
    margin: auto;
}

.contacts-phone {
	position: relative;
    display: inline-block;
}

.contacts-phone-inner {
	position: absolute;
    z-index: 5;
    margin: 0 auto;
    left: 0;
    right: 0;
    /* text-align: center; */
    top: 15%;
    width: 60%;
}

footer {
	min-height: 100px;
}
