main.main
    section.promo
        .promo-inner
            h1.promo-title
                | Онлайн-сервис
                br
                | доставки еды на дом
            p.promo-text
                | Блюда из любимого ресторана привезет курьер в перчатках, маски и с антисептиком
    section.restaraunts
        .restaraunts-head
            h2.restaraunts-head__text Рестораны
            input#sameid.restaraunts-head__search.input(type='text' name='samename' placeholder='Поиск блюд и ресторанов')
    section.cards
        a.cards-inner(href='restoraunt.html')
            .cards-inner__heading
                img.cards-inner__img(src='./img/image1.jpg' alt='')
            .cards-inner__text
                .cards-head
                    h3.cards-title Пицца плюс
                    span.cards-tag.tag 50 мин
                .cards-info
                    .cards-info__rating
                        +icon('rating','15','15')
                        |4.5
                    .cards-info__price от 900 ₽
                    .cards-info__category Пицца
        a.cards-inner(href='restoraunt.html')
            .cards-inner__heading
                img.cards-inner__img(src='./img/image2.jpg' alt='')
            .cards-inner__text
                .cards-head
                    h3.cards-title Тануки
                    span.cards-tag.tag 50 мин
                .cards-info
                    .cards-info__rating
                        +icon('rating','15','15')
                        |4.5
                    .cards-info__price от 500 ₽
                    .cards-info__category Суши

        a.cards-inner(href='restoraunt.html')
            .cards-inner__heading
                img.cards-inner__img(src='./img/image3.jpg' alt='')
            .cards-inner__text
                .cards-head
                    h3.cards-title FoodBand
                    span.cards-tag.tag 50 мин
                .cards-info
                    .cards-info__rating
                        +icon('rating','15','15')
                        |4.5
                    .cards-info__price от 1900 ₽
                    .cards-info__category Всякое

        a.cards-inner(href='restoraunt.html')
            .cards-inner__heading
                img.cards-inner__img(src='./img/image4.jpg' alt='')
            .cards-inner__text
                .cards-head
                    h3.cards-title Пицца-жадина
                    span.cards-tag.tag 50 мин
                .cards-info
                    .cards-info__rating
                        +icon('rating','15','15')
                        |4.5
                    .cards-info__price от 2000 ₽
                    .cards-info__category Пицца

        a.cards-inner(href='restoraunt.html')
            .cards-inner__heading
                img.cards-inner__img(src='./img/image5.jpg' alt='')
            .cards-inner__text
                .cards-head
                    h3.cards-title Точка еды
                    span.cards-tag.tag 50 мин
                .cards-info
                    .cards-info__rating
                        +icon('rating','15','15')
                        |4.5
                    .cards-info__price от 800 ₽
                    .cards-info__category Вкусная еда

        a.cards-inner(href='restoraunt.html')
            .cards-inner__heading
                img.cards-inner__img(src='./img/image6.jpg' alt='')
            .cards-inner__text
                .cards-head
                    h3.cards-title PizzaBurger
                    span.cards-tag.tag 50 мин
                .cards-info
                    .cards-info__rating
                        +icon('rating','15','15')
                        |4.5
                    .cards-info__price от 100 ₽
                    .cards-info__category Пицца и бургер
