main.main
  section.restaraunts
    .restaraunts-head
      h2.restaraunts-head__text Тануки
      .cards-info
        .cards-info__rating
          img.restaraunts-rating(src='./img/rating.svg' alt='')
          |4.5
        .cards-info__price от 900 ₽
        .cards-info__category Пицца и суши
  section.cards
    .cards-inner
      .cards-inner__heading
        img.cards-inner__img(src='./img/res6.jpg' alt='')
      .cards-inner__text
        .cards-head
          h3.cards-title Ролл угорь стандарт
        .cards-info
          .cards-info__ingridients
            | Рис, угорь, соус унаги, кунжут, водоросли нори.
        .cards-buttons
          button.button.button-primary
            span.button-card-text В корзину
            img.cards-buttons__shopping(src='./img/shopping2.svg' alt='shopping')
          strong.card-price-bold 250 ₽
    // cards-inner-END
    .cards-inner
      .cards-inner__heading
        img.cards-inner__img(src='./img/res4.jpg' alt='')
      .cards-inner__text
        .cards-head
          h3.cards-title Калифорния лосось стандарт
        .cards-info
          .cards-info__ingridients
            | Рис, лосось, авокадо, огурец, майонез, икра масаго, водоросли нори.
        .cards-buttons
          button.button.button-primary
            span.button-card-text В корзину
            img.cards-buttons__shopping(src='./img/shopping2.svg' alt='shopping')
          strong.card-price-bold 395 ₽
    // cards-inner-END
    .cards-inner
      .cards-inner__heading
        img.cards-inner__img(src='./img/res2.jpg' alt='')
      .cards-inner__text
        .cards-head
          h3.cards-title Окинава стандарт
        .cards-info
          .cards-info__ingridients
            | Рис, креветка отварная, сыр сливочный, лосось, огурец свежий...
        .cards-buttons
          button.button.button-primary
            span.button-card-text В корзину
            img.cards-buttons__shopping(src='./img/shopping2.svg' alt='shopping')
          strong.card-price-bold 250 ₽
    // cards-inner-END
    .cards-inner
      .cards-inner__heading
        img.cards-inner__img(src='./img/res5.jpg' alt='')
      .cards-inner__text
        .cards-head
          h3.cards-title Цезарь маки хl
        .cards-info
          .cards-info__ingridients
            | Рис, куриная грудка копченая, икра масаго, томат, айсберг,соус цезарь...
        .cards-buttons
          button.button.button-primary
            span.button-card-text В корзину
            img.cards-buttons__shopping(src='./img/shopping2.svg' alt='shopping')
          strong.card-price-bold 250 ₽
    // cards-inner-END
    .cards-inner
      .cards-inner__heading
        img.cards-inner__img(src='./img/res3.jpg' alt='')
      .cards-inner__text
        .cards-head
          h3.cards-title Ясай маки стандарт 185 г
        .cards-info
          .cards-info__ingridients
            | Рис, помидор свежий, перец болгарский, авокадо, огурец, айсберг
        .cards-buttons
          button.button.button-primary
            span.button-card-text В корзину
            img.cards-buttons__shopping(src='./img/shopping2.svg' alt='shopping')
          strong.card-price-bold 250 ₽
    // cards-inner-END
    .cards-inner
      .cards-inner__heading
        img.cards-inner__img(src='./img/res1.jpg' alt='')
      .cards-inner__text
        .cards-head
          h3.cards-title Ролл с креветкой стандарт
        .cards-info
          .cards-info__ingridients
            | Рис, водоросли нори, креветки отварные, сыр сливочный, огурцы
        .cards-buttons
          button.button.button-primary
            span.button-card-text В корзину
            img.cards-buttons__shopping(src='./img/shopping2.svg' alt='shopping')
          strong.card-price-bold 250 ₽
    // cards-inner-END
