footer.footer
    .wrapper 
        .footer-wrapper
            a(href="/").footer-logo
                span
                    | ok
                span.footer-logo__color-grey car
            .footer-mail
                +icon('envelope','20','20')
            .footer-list
                ul.footer-list__flex
                    li.footer-list__item
                        a(href="/") Продажа
                    li.footer-list__item.footer-list__item-order-3
                        a(href="/arenda.html") Аренда
                    li.footer-list__item
                        a(href="/realisation.html") Реализация
                    li.footer-list__item.footer-list__item-order-4
                        a(href="/contacts.html") Контакты
            .footer-politics
                a.footer-politics__item(href="#")
                    span Пользовательское соглашение
                a.footer-politics__item(href="#")
                    span Политика конфидециальности
                a.footer-politics__item(href="#")
                    span Обработка персональных данных
            .footer-sign
                span.footer-sign__item © 2011—2019 ООО «OKCAR». Все права защищены.
                