header.header
  .wrapper
    .header-wrapper
      a(href="/").header-logo
              span
              | ok
              span.header-logo__color-grey car
      button.burger-menu
        span
      nav.header-list
        ul
          li.header-list__item
            a(href="/index.html") Продажа
          li.header-list__item
            a(href="/arenda.html") Аренда
          li.header-list__item
            a(href="/realisation.html") Реализация
          li.header-list__item
            a(href="/contacts.html") Контакты
        .header-language
          p.header-language__text язык
          a(href="#").header-language__button EN
          a(href="#").header-language__button RU
          a(href="#").header-language__button LV
        .header-sign 
          span.header-sign__item © 2011—2019 ООО «OKCAR». Все права защищены.             
      
