extends common/layout

block content
    main
        .top-button
            a(href="#header")
                img(src="./img/arrow-up.svg", alt="arrow-up")
        include screens/screen1.pug 
        include screens/screen2.pug
        include screens/screen3.pug 
        include screens/screen4.pug 