footer.footer
    a.logo-home(href="./index.html")
        svg.footer__logo-img(width='101' height='37' xmlns='http://www.w3.org/2000/svg')
            use(xlink:href='./img/sprite.svg#logo')
    ul.footer-list
        li.list
            a.list-class(href="#") Ресторанам
        li.list
            a.list-class(href="#") Курьерам
        li.list
            a.list-class(href="#") Пресс-центр
        li.list
            a.list-class(href="#") Контакты
    ul.footer__social
        li.social-icons
            a(href='#')
                img(src="./img/inst.svg", alt="inst")
        li.social-icons
            a(href='#')
                svg.soc-2(width='26' height='26' xmlns='http://www.w3.org/2000/svg')
                    use(xlink:href='./img/sprite.svg#fb')
        li.social-icons
            a(href='#')
                svg.soc-3(width='36' height='21' xmlns='http://www.w3.org/2000/svg')
                    use(xlink:href='./img/sprite.svg#vk')      
