footer.footer
    a.logo-home(href="./index.html")
        img.footer__logo-img(src="./img/logo.svg", alt="logo")
    ul.footer-list
        li.list
            a.list-class(href="#") Ресторанам
        li.list
            a.list-class(href="#") Курьерам
        li.list
            a.list-class(href="#") Пресс-центр
        li.list
            a.list-class(href="#") Контакты
    ul.footer__social
        li.social-icons
            a(href='#')
                img.soc-1(src='./img/inst.svg' alt='instagram')
        li.social-icons
            a(href='#')
                img.soc-2(src='./img/fb.svg' alt='fb')
        li.social-icons
            a(href='#')
                img.soc-3(src='./img/vk.svg' alt='vk')      
