header.header
  a.logo-home(href="./index.html")
    img.header__logo-img(src="./img/logo.svg", alt="logo")
  input.header__input.input(type="text" name="sametext" placeholder="Адрес доставки")
  .buttons
    button.button.button-primary
      img.button-img(src="./img/profile.svg", alt="profile")
      span.button-text Войти
    button#cart-button.button.button-shopping
      img.button-img(src="./img/shopping.svg", alt="cart")
      span.button-text Корзина           
