form.card-modal.card-modal--transform
                    h4.card-modal__title Забронировать автомобиль
                    .card-modal__date
                        input.card-modal__date-left(type="date" name="before")
                        input.card-modal__date-right(type="date" name="after")
                    input.card-modal__item(type="text" placeholder="Ваше имя")
                    input.card-modal__item(type="email" placeholder="Электронная почта")
                    input.card-modal__item(type="text" placeholder="Телефон")
                    button.card-modal__button.card-modal__item(type="submit") Отправить заявку
                    button.card-modal__close
                        span