form.card-modal.card-modal--rel.card-modal--white.active-flex
    .card-modal__inner.card-modal__inner--flex-row
        h3.card-modal__title Обратная связь
        input.card-modal__item.card-modal__item--mr40.card-modal__item--white(type="text" placeholder="Ваше имя")
        input.card-modal__item.card-modal__item--mr40.card-modal__item--white(type="email" placeholder="Электронная почта")
        input.card-modal__item.card-modal__item--mr40.card-modal__item--white(type="text" placeholder="Телефон")
        button.card-modal__button.card-modal__item.card-modal__item--mr40.card-modal__item--dark(type="submit") Отправить