.screen4 {
	padding: 5.625rem 0;

	&-img {
		position: absolute;
		z-index: 100;
		top: -32px;
		left: 25px;
		transition: 0.3s;
	}

	&-blur-block {
		position: absolute;
		max-width: 1064px;
		width: 100%;
		height: 341px;
		left: 50px;
		top: 75px;
		.bg-grad();
		filter: blur(150px);
		border-radius: 17px;
	}

	&-main-block {
		max-width: 1238px;
		height: 447px;
		border-radius: 17px;
		.bg-grad();
		opacity: 0.8;
		position: relative;
	}

	&-banner {
		max-width: 500px;
		margin: 0 0 0 auto;
		padding: 80px 40px 60px 0;
	}

	&-banner__title {
		color: @w-text;
		font-family: Rubik;
		font-size: 2.1875rem;
		font-weight: 500;
		line-height: 2.9rem;
	}

	&-banner__text {
		opacity: 0.7;
		color: @w-text;
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.9rem;
		padding: 0.625rem 0 2.1875rem;
	}

	&-button {
		background: @w-text;
		opacity: 0.9;
		border-radius: 10.2611px;
		padding: 1.5625rem 3.625rem;
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.1875rem;
		text-align: center;
		color: #9f7dfd;
	}
}
