.screen2 {
	padding-top: 5rem;

	&-col {
		flex: 0 1 300px;
		padding: 0 1.25rem 7.375rem;
	}

	&-col__img {
		padding-bottom: 1.25rem;
	}

	h3 {
		padding-bottom: 2rem;
		font-weight: 500;
		font-size: 1.375rem;
		line-height: 1.625rem;
	}

	&-element {
		border: 4px solid #f7f8fd;
		border-radius: 26px;
		display: flex;
		flex-flow: row wrap;

		.left-side {
			padding: 6.375rem 0 5.5rem 9.6875rem;
			flex: 0 1 400px;

			h3 {
				font-weight: 500;
				font-size: 2.1875rem;
				line-height: 2.875rem;
				color: #160647;
			}

			p {
				font-size: 18px;
				line-height: 1.875rem;
				color: #4e5983;
				opacity: 0.7;
			}
		}

		&__img {
			padding: 5.9375rem 1.0625rem 7.3125rem 0;
		}
	}

	&-col__text {
		width: 250px;

		p {
			opacity: 0.7;
			font-size: 1.125rem;
		}
	}
}
