form.card-modal.card-modal--rel.card-modal--pos-right.card-modal--yellow.active-flex
    .card-modal__inner
        h4.card-modal__title Купить автомобиль
        .telephone-inner
            +icon('phone','30','30')
            .telephone-block.order-1
                span.telephone-block__number 8 800 350-15-14
            .telephone-block.order-3
                span.telephone-block__number +7 499 350-15-14
        input.card-modal__item.card-modal__item--yellow(type="text" placeholder="Ваше имя")
        input.card-modal__item.card-modal__item--yellow(type="email" placeholder="Электронная почта")
        input.card-modal__item.card-modal__item--yellow(type="text" placeholder="Телефон")
        button.card-modal__button.card-modal__button--mtop.card-modal__item(type="submit") Отправить заявку