extends ./common/layout
block links
    link(rel="stylesheet",href="css/style.min.css")
    link(rel="stylesheet",href="css/style-car.min.css")
block content
    include ./screens/car-main
block scripts
    script(src="js/slider.js")