.screen4
    .wrapper.z-index
        .screen4-blur-block
        .screen4-main-block
            .screen4-banner
                h2.screen4-banner__title Будем рады предоставить Вам качественный обмен валют на нашем сервисе!
                .screen4-banner__text Начните обмен прямо сейчас
                button.screen4-button Начать обмен