.screen3
    .wrapper
        h2.screen3-h2 Резерв валюты
        .screen3-multicash 
            ul.screen3-list.flex.spc-btw-elem
                li.screen3-numbers
                    img.screen3-numbers__img(src="./img/cash1.png", alt="value1")
                    h3.screen3-numbers__title Yandex RUB
                    p.screen3-numbers__text 9000245
                li.screen3-numbers
                    img.screen3-numbers__img(src="./img/cash2.png", alt="value2")
                    h3.screen3-numbers__title Etherium ETH
                    p.screen3-numbers__text 123
                li.screen3-numbers
                    img.screen3-numbers__img(src="./img/cash3.png", alt="value3")
                    h3.screen3-numbers__title Bitcoin BTC
                    p.screen3-numbers__text 55456
                li.screen3-numbers
                    img.screen3-numbers__img(src="./img/cash4.png", alt="value4")
                    h3.screen3-numbers__title Сбербанк RUB
                    p.screen3-numbers__text 4877513322
                li.screen3-numbers
                    img.screen3-numbers__img(src="./img/cash5.png", alt="value5")
                    h3.screen3-numbers__title Приват 24 UAH
                    p.screen3-numbers__text 225466
                li.screen3-numbers
                    img.screen3-numbers__img(src="./img/cash6.png", alt="value6")
                    h3.screen3-numbers__title Paypal USD
                    p.screen3-numbers__text 56845
                li.screen3-numbers
                    img.screen3-numbers__img(src="./img/cash7.png", alt="value7")
                    h3.screen3-numbers__title PM USD
                    p.screen3-numbers__text 556762
                li.screen3-numbers
                    img.screen3-numbers__img(src="./img/cash8.png", alt="value8")
                    h3.screen3-numbers__title Qiwi RUB
                    p.screen3-numbers__text 9874621145
        .screen3-comments            
            h2.screen3-comments__title Что клиенты говорят о нас
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        p.screen3-comments__text Киви переправил деньги не на кошелек, а на
                            |  номер мтс будьте внимательны.даже в этом случаи делают возврат
                            | и переводят на приват.особая благодарность оператору Марии.
                        p.screen3-comments__author Jacob Robertson
                        p.screen3-comments__data 20.02.2020, 12:10
                    .swiper-slide
                        p.screen3-comments__text 3-й раз выполняю обмен. 
                            | все как всегда на отлично! транзакции выполняются 
                            | в течение 15-20 мин. что очень быстро + лучший ценник!
                        p.screen3-comments__author Morris Robertson
                        p.screen3-comments__data 17.02.2020, 18:51
                    .swiper-slide
                        p.screen3-comments__text 3-й раз выполняю обмен. 
                            | все как всегда на отлично! транзакции выполняются 
                            | в течение 15-20 мин. что очень быстро + лучший ценник!
                        p.screen3-comments__author Morris Robertson
                        p.screen3-comments__data 17.02.2020, 18:51
                    .swiper-slide
                        p.screen3-comments__text 3-й раз выполняю обмен. 
                            | все как всегда на отлично! транзакции выполняются 
                            | в течение 15-20 мин. что очень быстро + лучший ценник!
                        p.screen3-comments__author Morris Robertson
                        p.screen3-comments__data 17.02.2020, 18:51
                    .swiper-slide
                        p.screen3-comments__text 3-й раз выполняю обмен. 
                            | все как всегда на отлично! транзакции выполняются 
                            | в течение 15-20 мин. что очень быстро + лучший ценник!
                        p.screen3-comments__author Morris Robertson
                        p.screen3-comments__data 17.02.2020, 18:51
                    .swiper-slide
                        p.screen3-comments__text 3-й раз выполняю обмен. 
                            | все как всегда на отлично! транзакции выполняются 
                            | в течение 15-20 мин. что очень быстро + лучший ценник!
                        p.screen3-comments__author Morris Robertson
                        p.screen3-comments__data 17.02.2020, 18:51
                .swiper-button-next
                .swiper-button-prev              
            //- .screen3-comments__inner-block
                
            //- .screen3-comments__inner-block
                 
            //- .screen3-arrows
            //-     a.screen3-arrows__left(href="#")
            //-     a.screen3-arrows__right(href="#")             