.screen2
    .wrapper.flex.align-start
        .screen2-col
            img.screen2-col__img(src="./img/z1.png", alt="img")
            .screen2-col__text
                h3 Безопасность
                p Усиленная безопасность ваших обменов, усиленная безопасность от мошенников!
        .screen2-col
            img.screen2-col__img(src="./img/z2.png", alt="img")
            .screen2-col__text
                h3 Реферальная система
                p На сервисе работает партнерская программа , за каждый обмен приведенного вами клиента, вы получаете 0.5% с нашей прибыли.
        .screen2-col
            img.screen2-col__img(src="./img/z3.png", alt="img")
            .screen2-col__text
                h3 Онлайн поддержка
                p Четыре вида поддержки для наших клиентов:  Телеграмм канал, E-mail поддержка, и мобильный номер (Viber).
        .screen2-element
            .left-side
                h3 Сервис обмена электронных валют с 5-летней историей
                p За время работы мы приобрели репутацию проверенного партнера и делаем все возможное,
                    | чтобы ваши впечатления от нашего сервиса были только благоприятными.
            img.screen2-element__img(src="./img/s2.png", alt="img")     

        