section.catalog
    .wrapper
        h2.hidden Каталог
        .catalog-inner
            .card
                .card-head
                    img(src="./img/image3.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                .card-body
                    p.card-body__title 
                        span.title-marka Mitsubishi 
                        span.title-model Outlander Sport
                    p.card-body__price 12 000€
                    p.card-body__description 
                        span.description-year 2011 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    span.card-footer__question
                        +icon('question','17','11')
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    a.button.card-footer__more(href="./car.html") Забронировать
                include ../includes/modals/card-modal
            //- end-card
            .card
                .card-head
                    img(src="./img/image2.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                .card-body
                    p.card-body__title 
                        span.title-marka Toyota 
                        span.title-model Outlander Sport
                    p.card-body__price 8 000€
                    p.card-body__description 
                        span.description-year 2019 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    span.card-footer__question
                        +icon('question','17','11')
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    a.button.card-footer__more(href="./car.html") Забронировать
                include ../includes/modals/card-modal    
            //- end-card
            .card
                .card-head
                    img(src="./img/image4.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                .card-body
                    p.card-body__title 
                        span.title-marka Toyota 
                        span.title-model Outlander Sport
                    p.card-body__price 9 000€
                    p.card-body__description 
                        span.description-year 2018 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    span.card-footer__question
                        +icon('question','17','11')
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    a.button.card-footer__more(href="./car.html") Забронировать
                include ../includes/modals/card-modal
            //- end-card
            .card
                .card-head
                    img(src="./img/image5.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                .card-body
                    p.card-body__title 
                        span.title-marka Mitsubishi 
                        span.title-model Outlander Sport
                    p.card-body__price 22 000€
                    p.card-body__description 
                        span.description-year 2008 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    span.card-footer__question
                        +icon('question','17','11')
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    a.button.card-footer__more(href="./car.html") Забронировать
                include ../includes/modals/card-modal
            //- end-card
            .card
                .card-head
                    img(src="./img/image6.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                .card-body
                    p.card-body__title 
                        span.title-marka Mitsubishi 
                        span.title-model Outlander Sport
                    p.card-body__price 3 000€
                    p.card-body__description 
                        span.description-year 2007 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    span.card-footer__question
                        +icon('question','17','11')
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    a.button.card-footer__more(href="./car.html") Забронировать
                include ../includes/modals/card-modal
            //- end-card
            .card
                .card-head
                    img(src="./img/image7.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                .card-body
                    p.card-body__title 
                        span.title-marka Toyota 
                        span.title-model Outlander Sport
                    p.card-body__price 5 000€
                    p.card-body__description 
                        span.description-year 2015 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    span.card-footer__question
                        +icon('question','17','11')
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    a.button.card-footer__more(href="./car.html") Забронировать
                include ../includes/modals/card-modal
            //- end-card
            .card
                .card-head
                    img(src="./img/image8.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                .card-body
                    p.card-body__title 
                        span.title-marka Toyota 
                        span.title-model C-VR
                    p.card-body__price 16 000€
                    p.card-body__description 
                        span.description-year 2013 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    span.card-footer__question
                        +icon('question','17','11')
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    a.button.card-footer__more(href="./car.html") Забронировать
                include ../includes/modals/card-modal
            //- end-card
            .card
                .card-head
                    img(src="./img/image9.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                .card-body
                    p.card-body__title 
                        span.title-marka Toyota 
                        span.title-model Outlander Sport
                    p.card-body__price 15 000€
                    p.card-body__description 
                        span.description-year 2014 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    span.card-footer__question
                        +icon('question','17','11')
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    a.button.card-footer__more(href="./car.html") Забронировать
                include ../includes/modals/card-modal           
            //- end-card
            .card
                .card-head
                    img(src="./img/image6.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                .card-body
                    p.card-body__title 
                        span.title-marka Toyota 
                        span.title-model Outlander Sport
                    p.card-body__price 11 000€
                    p.card-body__description 
                        span.description-year 2009 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    span.card-footer__question
                        +icon('question','17','11')
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    a.button.card-footer__more(href="./car.html") Забронировать
                include ../includes/modals/card-modal
            //- end-card
        .catalog-more-cards
            button.button-more
                +icon('full-arrow-down','11','11')
            p.catalog-more-cards__text Показать еще                