section.catalog
    .wrapper
        h2.hidden Каталог
        .catalog-inner
            .card.mitsubishi
                .card-head
                    img(src="./img/image3.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                    // .card-sold
                    //     p.card-sold__text Продано
                .card-body
                    p.card-body__title 
                        span.title-marka Mitsubishi 
                        span.title-model Outlander Sport
                    p.card-body__price 12 000€
                    p.card-body__description 
                        span.description-year 2007 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    //- button.button.card-footer__more 
                    a.button.card-footer__more(href="/car.html") Подробнее
                    // button.button.card-footer__more.card-footer__more-sold Продано
            //- end-card
            .card.toyota
                .card-head
                    img(src="./img/image2.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                    // .card-sold
                    //     p.card-sold__text Продано
                .card-body
                    p.card-body__title 
                        span.title-marka Toyota 
                        span.title-model Outlander Sport
                    p.card-body__price 17 000€
                    p.card-body__description 
                        span.description-year 2009 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    //- button.button.card-footer__more 
                    a.button.card-footer__more(href="/car.html") Подробнее
                    // button.button.card-footer__more.card-footer__more-sold Продано       
            //- end-card
            .card.mitsubishi
                .card-head
                    img(src="./img/image4.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                    // .card-sold
                    //     p.card-sold__text Продано
                .card-body
                    p.card-body__title 
                        span.title-marka Mitsubishi 
                        span.title-model Outlander Sport
                    p.card-body__price 2 000€
                    p.card-body__description 
                        span.description-year 2015 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    //- button.button.card-footer__more 
                    a.button.card-footer__more(href="/car.html") Подробнее
                    // button.button.card-footer__more.card-footer__more-sold Продано
            //- end-card
            .card.mitsubishi
                .card-head
                    img(src="./img/image5.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                    .card-sold
                        p.card-sold__text Продано
                .card-body
                    p.card-body__title 
                        span.title-marka Toyota 
                        span.title-model C-VR
                    p.card-body__price 9 000€
                    p.card-body__description 
                        span.description-year 2002 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    // button.button.card-footer__more 
                    // a.button.card-footer__more(href="/car.html") Подробнее
                    button.button.card-footer__more.card-footer__more-sold Продано
            //- end-card
            .card.toyota
                .card-head
                    img(src="./img/image6.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                    // .card-sold
                    //     p.card-sold__text Продано
                .card-body
                    p.card-body__title 
                        span.title-marka Mitsubishi 
                        span.title-model Outlander Sport
                    p.card-body__price 9 000€
                    p.card-body__description 
                        span.description-year 2008 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    //- button.button.card-footer__more 
                    a.button.card-footer__more(href="/car.html") Подробнее
                    // button.button.card-footer__more.card-footer__more-sold Продано
            //- end-card
            .card.mitsubishi
                .card-head
                    img(src="./img/image7.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                    // .card-sold
                    //     p.card-sold__text Продано
                .card-body
                    p.card-body__title 
                        span.title-marka Mitsubishi 
                        span.title-model Outlander Sport
                    p.card-body__price 7 000€
                    p.card-body__description 
                        span.description-year 2016 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    //- button.button.card-footer__more 
                    a.button.card-footer__more(href="/car.html") Подробнее
                    // button.button.card-footer__more.card-footer__more-sold Продано
            //- end-card
            .card.toyota
                .card-head
                    img(src="./img/image8.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                    // .card-sold
                    //     p.card-sold__text Продано
                .card-body
                    p.card-body__title 
                        span.title-marka Toyota 
                        span.title-model Outlander Sport
                    p.card-body__price 26 000€
                    p.card-body__description 
                        span.description-year 2019 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    //- button.button.card-footer__more 
                    a.button.card-footer__more(href="/car.html") Подробнее
                    // button.button.card-footer__more.card-footer__more-sold Продано
            //- end-card
            .card.toyota
                .card-head
                    img(src="./img/image9.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                    // .card-sold
                    //     p.card-sold__text Продано
                .card-body
                    p.card-body__title 
                        span.title-marka Mitsubishi 
                        span.title-model Outlander Sport
                    p.card-body__price 5 000€
                    p.card-body__description 
                        span.description-year 2001 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    //- button.button.card-footer__more 
                    a.button.card-footer__more(href="/car.html") Подробнее
                    // button.button.card-footer__more.card-footer__more-sold Продано            
            //- end-card
            .card.toyota
                .card-head
                    img(src="./img/image6.jpg", alt="MitsubishiOutlanderSport" class="card-head__img")
                    // .card-sold
                    //     p.card-sold__text Продано
                .card-body
                    p.card-body__title 
                        span.title-marka Toyota 
                        span.title-model Outlander Sport
                    p.card-body__price 14 000€
                    p.card-body__description 
                        span.description-year 2011 год, 
                        span.description-volume объем 1л., 
                        span.description-probeg пробег 320 000км.
                .card-footer
                    button.button.card-footer__tel
                        +icon('phone','24','24')
                        |
                        span +333 5544 6655
                    //- button.button.card-footer__more 
                    a.button.card-footer__more(href="/car.html") Подробнее
                    // button.button.card-footer__more.card-footer__more-sold Продано
            //- end-card
        .catalog-more-cards
            button.button-more
                +icon('full-arrow-down','11','11')
            p.catalog-more-cards__text Показать еще                