section.offers
    .wrapper
        h2.hidden Предложения
        .offers-inner
            .offer1
                p.offer-text Выставления объявлений на балтийских, европейских и скандинавских сайтах
            .offer2
                +icon('camera','44','44')
                p.offer-text Профессиональные фотографии автомобиля