section.screen1
    .wrapper
        .screen1-head
            .screen1-head__inner
                h1.screen1-head__title Контакты
                a(href='/')
                    +icon('arrow-right','70','31')              
            p.screen1-head__text Московская область, Ленинский район, п. Развилка, уч. 1-РО