section.screen1
    .wrapper
        .screen1-head
            .screen1-head__inner
                h1.screen1-head__title 
                    | Не трать
                    br
                    | свое время
                a(href='/contacts.html')
                    +icon('arrow-right','70','31')
        .screen1-foot
            +icon('stopwatch','62','62')
            p.screen1-foot__text Прием автомобилей на
                |  реализацию в Евросоюзе       