section.screen1
    .wrapper
        .screen1-head
            .screen1-head__inner
                h1.screen1-head__title Продажа
                a(href='./arenda.html')
                    +icon('arrow-right','70','31')
                    
                //- .arrow-right                 
            p.screen1-head__text Продажа автомобилей с
                |  пробегом в странах Евросоюза
        .screen1-foot
            +icon('car','22.5','22.5')
            span 768
            p автомобилей в наличии        