section.telephone
    .wrapper
        h2.hidden Номера телефонов
        .telephone-inner
            +icon('phone','30','30')
            .telephone-block.order-1
                span.telephone-block__number 8 800 350-15-14
                p.telephone-block__text Бесплатный звонок по России
            .telephone-block.order-3
                span.telephone-block__number +7 499 350-15-14
                p.telephone-block__text Контакт-центр в Москве   